### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
import pandas as pd
import numpy as np

school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [ ]:
school_data_complete

In [4]:
school_data_stats = school_data_complete.describe()
school_data_stats

,Student ID,year,reading_score,maths_score,School ID,size,budget
count,39170.000000,39170.000000,39170.000000,39170.000000,39170.000000,39170.000000,3.917000e+04
mean,19584.500000,10.359586,69.980138,70.338192,6.978172,3332.957110,2.117241e+06
std,11307.549359,1.102779,17.242346,16.910154,4.444329,1323.914069,8.749987e+05
min,0.000000,9.000000,39.000000,39.000000,0.000000,427.000000,2.480870e+05
25%,9792.250000,9.000000,55.000000,56.000000,3.000000,1858.000000,1.081356e+06
50%,19584.500000,10.000000,70.000000,70.000000,7.000000,2949.000000,1.910635e+06
75%,29376.750000,11.000000,85.000000,85.000000,11.000000,4635.000000,3.022020e+06
max,39169.000000,12.000000,99.000000,99.000000,14.000000,4976.000000,3.124928e+06

In [5]:
def get_passing_stats(df):
  num_passing_math = df[df['maths_score'] >= 50].shape[0]
  pct_passing_math = num_passing_math / df.shape[0]

  num_passing_reading = df[df['reading_score'] >= 50].shape[0]
  pct_passing_reading = num_passing_reading / df.shape[0]

  num_passing_overall = df[(df['maths_score'] >= 50) & (df['reading_score'] >= 50)].shape[0]
  pct_passing_overall = num_passing_overall / df.shape[0]

  return [
    pct_passing_math,
    pct_passing_reading,
    pct_passing_overall
  ]

In [7]:
nStudents = school_data_complete["Student ID"].nunique()
nSchools = school_data_complete["School ID"].nunique()
totalBudget = school_data["budget"].sum()
avgReading = school_data_stats.iat[1, 2]
avgMaths = school_data_stats.iat[1, 3]

stats = get_passing_stats(school_data_complete)
pctMathPass, pctReadingPass, pctBothPass = stats[0], stats[1], stats[2]

In [8]:
#TODO Format
lga_summary = {
  'Total Schools': nSchools,
  'Total Students': nStudents,
  'Total Budget': totalBudget,
  'Average Maths Score': avgMaths,
  'Average Reading Score': avgReading,
  '% Passing Maths': pctMathPass,
  '% Passing Reading': pctReadingPass,
  '% Overall Passing': pctBothPass
}

lga_summary_df = pd.DataFrame(lga_summary, index=[0])
lga_summary_df

,Total Schools,Total Students,Total Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
0,15,39170,24649428,70.338192,69.980138,0.860786,0.844269,0.728083

In [9]:
grouped_school_complete = school_data_complete.groupby(by = 'School ID')

In [10]:
school_summary_data = []
columns = [
  'School Type', 
  'Total Students', 
  'Total School Budget', 
  'Per Student Budget', 
  'Average Maths Score', 
  'Average Reading Score', 
  '% Passing Maths', 
  '% Passing Reading', 
  '% Overall Passing'
]

index = [
  'Huang High School',
  'Figueroa High School',
  'Shelton High School',
  'Hernandez High School',
  'Griffin High School',
  'Wilson High School',
  'Cabrera High School',
  'Bailey High School',
  'Holden High School',
  'Pena High School',
  'Wright High School',
  'Rodriguez High School',
  'Johnson High School',
  'Ford High School',
  'Thomas High School'
]

for name, group in grouped_school_complete:
  school_type = group.iloc[0]['type']
  total_students = group.shape[0]
  total_budget = group.iloc[0]['budget']
  per_student_budget = total_budget / total_students
  avg_math_score = group['maths_score'].mean()
  avg_reading_score = group['reading_score'].mean()
  passing_stats = get_passing_stats(group)
  
  school_summary_data.append([
    school_type,
    total_students,
    total_budget,
    per_student_budget,
    avg_math_score,
    avg_reading_score,
    passing_stats[0],
    passing_stats[1],
    passing_stats[2]
  ])

school_summary_df = pd.DataFrame(school_summary_data, index = index, columns = columns)

In [11]:
school_summary_df['% Passing Maths'] = round(school_summary_df['% Passing Maths']*100, 2)
school_summary_df['% Passing Reading'] = round(school_summary_df['% Passing Reading']*100, 2)
school_summary_df['% Overall Passing'] = round(school_summary_df['% Overall Passing']*100, 2)
school_summary_df[['Average Maths Score', 'Average Reading Score']] = round(school_summary_df[['Average Maths Score', 'Average Reading Score']], 2)

In [12]:
school_summary_df.sort_index()
#TODO Format % and budget to $

,School Type,Total Students,Total School Budget,Per Student Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
Bailey High School,Government,4976,3124928,628.0,72.35,71.01,91.64,87.38,80.08
Cabrera High School,Independent,1858,1081356,582.0,71.66,71.36,90.85,89.07,80.79
Figueroa High School,Government,2949,1884411,639.0,68.70,69.08,81.65,82.81,67.65
Ford High School,Government,2739,1763916,644.0,69.09,69.57,82.44,82.22,67.47
Griffin High School,Independent,1468,917500,625.0,71.79,71.25,91.21,88.49,81.34
Hernandez High School,Government,4635,3022020,652.0,68.87,69.19,80.95,81.88,66.36
Holden High School,Independent,427,248087,581.0,72.58,71.66,89.93,88.52,78.92
Huang High School,Government,2917,1910635,655.0,68.94,68.91,81.69,81.45,66.71
Johnson High School,Government,4761,3094650,650.0,68.84,69.04,82.06,81.98,67.19
Pena High School,Independent,962,585858,609.0,72.09,71.61,91.68,86.59,79.21
Rodriguez High School,Government,3999,2547363,637.0,72.05,70.94,90.80,87.40,79.42
Shelton High School,Independent,1761,1056600,600.0,72.03,70.26,91.54,86.71,78.88
Thomas High School,Independent,1635,1043130,638.0,69.58,69.77,83.85,82.63,69.48
Wilson High School,Independent,2283,1319574,578.0,69.17,68.88,82.79,81.30,67.46
Wright High School,Independent,1800,1049400,583.0,72.05,70.97,91.78,86.67,79.72

In [13]:
school_summary_df.sort_values('% Overall Passing', ascending = False).head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
Griffin High School,Independent,1468,917500,625.0,71.79,71.25,91.21,88.49,81.34
Cabrera High School,Independent,1858,1081356,582.0,71.66,71.36,90.85,89.07,80.79
Bailey High School,Government,4976,3124928,628.0,72.35,71.01,91.64,87.38,80.08
Wright High School,Independent,1800,1049400,583.0,72.05,70.97,91.78,86.67,79.72
Rodriguez High School,Government,3999,2547363,637.0,72.05,70.94,90.80,87.40,79.42

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [14]:
school_summary_df.sort_values('% Overall Passing', ascending = True).head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
Hernandez High School,Government,4635,3022020,652.0,68.87,69.19,80.95,81.88,66.36
Huang High School,Government,2917,1910635,655.0,68.94,68.91,81.69,81.45,66.71
Johnson High School,Government,4761,3094650,650.0,68.84,69.04,82.06,81.98,67.19
Wilson High School,Independent,2283,1319574,578.0,69.17,68.88,82.79,81.30,67.46
Ford High School,Government,2739,1763916,644.0,69.09,69.57,82.44,82.22,67.47

## Maths Scores by Year

In [16]:
grouped_school_year = school_data_complete.groupby(['year','school_name'])

maths_averages = {}

for name, group in grouped_school_year:
    school_name, year = name
    avg_score = group['maths_score'].mean()
    if school_name not in maths_averages:
        maths_averages[school_name] = {year: avg_score}
    else:
        maths_averages[school_name][year] = avg_score

maths_averages_df = pd.DataFrame(maths_averages)
maths_averages_df.rename(columns={'index': 'school_name'}, inplace=True)
maths_averages_df.rename(columns=lambda x: f"Year {x}", inplace=True)
maths_averages_df.round(2)

                       Year 9  Year 10  Year 11  Year 12
Bailey High School      72.49    71.90    72.37    72.68
Cabrera High School     72.32    72.44    71.01    70.60
Figueroa High School    68.48    68.33    68.81    69.33
Ford High School        69.02    69.39    69.25    68.62
Griffin High School     72.79    71.09    71.69    71.47
Hernandez High School   68.59    68.87    69.15    68.99
Holden High School      70.54    75.11    71.64    73.41
Huang High School       69.08    68.53    69.43    68.64
Johnson High School     69.47    67.99    68.64    69.29
Pena High School        72.00    72.40    72.52    71.19
Rodriguez High School   71.94    71.78    72.36    72.15
Shelton High School     72.93    72.51    70.10    72.33
Thomas High School      69.23    70.06    69.66    69.37
Wilson High School      69.21    69.46    68.38    69.79
Wright High School      71.74    72.18    73.28    70.85

In [18]:
reading_averages = {}

for name, group in grouped_school_year:
    school_name, year = name
    avg_score = group['reading_score'].mean()
    if school_name not in reading_averages:
        reading_averages[school_name] = {year: avg_score}
    else:
        reading_averages[school_name][year] = avg_score

reading_averages_df = pd.DataFrame(reading_averages)
reading_averages_df.rename(columns={'index': 'school_name'}, inplace=True)
reading_averages_df.rename(columns=lambda x: f"Year {x}", inplace=True)
reading_averages_df.round(2)

                       Year 9  Year 10  Year 11  Year 12
Bailey High School      70.90    70.85    70.32    72.20
Cabrera High School     71.17    71.33    71.20    71.86
Figueroa High School    70.26    67.68    69.15    69.08
Ford High School        69.62    68.99    70.74    68.85
Griffin High School     72.03    70.75    72.39    69.43
Hernandez High School   68.48    70.62    68.42    69.24
Holden High School      71.60    71.10    73.31    70.48
Huang High School       68.67    69.52    68.74    68.67
Johnson High School     68.72    69.30    69.97    67.99
Pena High School        70.95    72.32    71.70    71.51
Rodriguez High School   70.90    70.14    71.42    71.41
Shelton High School     70.72    69.88    71.15    69.07
Thomas High School      69.67    69.74    70.75    68.73
Wilson High School      68.68    68.41    68.80    69.89
Wright High School      71.82    71.39    70.48    69.82

## Scores by School Spending

In [19]:
#school_summary_df

spending_bins = [0, 585, 630, 645, 680]
spending_names = ["<$585", "$585-630", "$630-645", "$645-680"]

In [20]:
school_summary_df['Spending Range (per student)'] = pd.cut(school_summary_df['Per Student Budget'], bins = spending_bins, labels = spending_names, include_lowest = True)
school_summary_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing,Spending Range (per student)
Huang High School,Government,2917,1910635,655.0,68.94,68.91,81.69,81.45,66.71,$645-680
Figueroa High School,Government,2949,1884411,639.0,68.70,69.08,81.65,82.81,67.65,$630-645
Shelton High School,Independent,1761,1056600,600.0,72.03,70.26,91.54,86.71,78.88,$585-630
Hernandez High School,Government,4635,3022020,652.0,68.87,69.19,80.95,81.88,66.36,$645-680
Griffin High School,Independent,1468,917500,625.0,71.79,71.25,91.21,88.49,81.34,$585-630
Wilson High School,Independent,2283,1319574,578.0,69.17,68.88,82.79,81.30,67.46,<$585
Cabrera High School,Independent,1858,1081356,582.0,71.66,71.36,90.85,89.07,80.79,<$585
Bailey High School,Government,4976,3124928,628.0,72.35,71.01,91.64,87.38,80.08,$585-630
Holden High School,Independent,427,248087,581.0,72.58,71.66,89.93,88.52,78.92,<$585
Pena High School,Independent,962,585858,609.0,72.09,71.61,91.68,86.59,79.21,$585-630
Wright High School,Independent,1800,1049400,583.0,72.05,70.97,91.78,86.67,79.72,<$585
Rodriguez High School,Government,3999,2547363,637.0,72.05,70.94,90.80,87.40,79.42,$630-645
Johnson High School,Government,4761,3094650,650.0,68.84,69.04,82.06,81.98,67.19,$645-680
Ford High School,Government,2739,1763916,644.0,69.09,69.57,82.44,82.22,67.47,$630-645
Thomas High School,Independent,1635,1043130,638.0,69.58,69.77,83.85,82.63,69.48,$630-645

In [21]:
grouped_summary_ranges = school_summary_df.groupby('Spending Range (per student)')
mean_summary_ranges = grouped_summary_ranges.mean()
mean_summary_ranges

,Total Students,Total School Budget,Per Student Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
Spending Range (per student),,,,,,,,
<$585,1592.000000,9.246042e+05,581.000000,71.365000,70.717500,88.837500,86.3900,76.722500
$585-630,2291.750000,1.421222e+06,615.500000,72.065000,71.032500,91.517500,87.2925,79.877500
$630-645,2830.500000,1.809705e+06,639.500000,69.855000,69.840000,84.685000,83.7650,71.005000
$645-680,4104.333333,2.675768e+06,652.333333,68.883333,69.046667,81.566667,81.7700,66.753333

In [22]:
spending_summary = mean_summary_ranges.iloc[:, [3 , 4, 5, 6, 7]]
spending_summary.round(2)

,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
Spending Range (per student),,,,,
<$585,71.36,70.72,88.84,86.39,76.72
$585-630,72.06,71.03,91.52,87.29,79.88
$630-645,69.86,69.84,84.68,83.76,71.00
$645-680,68.88,69.05,81.57,81.77,66.75

## Scores by School Size

In [23]:
size_bins = [0, 1000, 2000, 5000]
size_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [24]:
school_summary_df['School Size'] = pd.cut(school_summary_df['Total Students'], bins = size_bins, labels = size_names, include_lowest = True)
school_summary_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing,Spending Range (per student),School Size
Huang High School,Government,2917,1910635,655.0,68.94,68.91,81.69,81.45,66.71,$645-680,Large (2000-5000)
Figueroa High School,Government,2949,1884411,639.0,68.70,69.08,81.65,82.81,67.65,$630-645,Large (2000-5000)
Shelton High School,Independent,1761,1056600,600.0,72.03,70.26,91.54,86.71,78.88,$585-630,Medium (1000-2000)
Hernandez High School,Government,4635,3022020,652.0,68.87,69.19,80.95,81.88,66.36,$645-680,Large (2000-5000)
Griffin High School,Independent,1468,917500,625.0,71.79,71.25,91.21,88.49,81.34,$585-630,Medium (1000-2000)
Wilson High School,Independent,2283,1319574,578.0,69.17,68.88,82.79,81.30,67.46,<$585,Large (2000-5000)
Cabrera High School,Independent,1858,1081356,582.0,71.66,71.36,90.85,89.07,80.79,<$585,Medium (1000-2000)
Bailey High School,Government,4976,3124928,628.0,72.35,71.01,91.64,87.38,80.08,$585-630,Large (2000-5000)
Holden High School,Independent,427,248087,581.0,72.58,71.66,89.93,88.52,78.92,<$585,Small (<1000)
Pena High School,Independent,962,585858,609.0,72.09,71.61,91.68,86.59,79.21,$585-630,Small (<1000)
Wright High School,Independent,1800,1049400,583.0,72.05,70.97,91.78,86.67,79.72,<$585,Medium (1000-2000)
Rodriguez High School,Government,3999,2547363,637.0,72.05,70.94,90.80,87.40,79.42,$630-645,Large (2000-5000)
Johnson High School,Government,4761,3094650,650.0,68.84,69.04,82.06,81.98,67.19,$645-680,Large (2000-5000)
Ford High School,Government,2739,1763916,644.0,69.09,69.57,82.44,82.22,67.47,$630-645,Large (2000-5000)
Thomas High School,Independent,1635,1043130,638.0,69.58,69.77,83.85,82.63,69.48,$630-645,Medium (1000-2000)

In [25]:
grouped_summary_size = school_summary_df.groupby('School Size')
mean_summary_size = grouped_summary_size.mean()
mean_summary_size

,Total Students,Total School Budget,Per Student Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
School Size,,,,,,,,
Small (<1000),694.500,416972.500,595.000,72.33500,71.6350,90.8050,87.5550,79.0650
Medium (1000-2000),1704.400,1029597.200,605.600,71.42200,70.7220,89.8460,86.7140,78.0420
Large (2000-5000),3657.375,2333437.125,635.375,69.75125,69.5775,84.2525,83.3025,70.2925

In [26]:
mean_summary_size.iloc[:, [3 , 4, 5, 6, 7]].round(2)

,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),72.34,71.63,90.80,87.56,79.06
Medium (1000-2000),71.42,70.72,89.85,86.71,78.04
Large (2000-5000),69.75,69.58,84.25,83.30,70.29

## Scores by School Type

* Perform the same operations as above, based on school type

In [27]:
grouped_summary_type = school_summary_df.groupby('School Type')
mean_summary_type = grouped_summary_type.mean()
mean_summary_type.iloc[:, [3 , 4, 5, 6, 7]].round(2)

,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
School Type,,,,,
Government,69.83,69.68,84.46,83.59,70.70
Independent,71.37,70.72,89.20,86.25,76.98